<div data-hook="admin_product_form_bespoke" class="col-md-4">
  <%= f.field_container :bespoke, class: ['form-group'] do %>
      <%= f.label :bespoke %>
      <%= f.error_message_on :bespoke %>
      <%= f.check_box :bespoke, class: 'form-control' %>
  <% end %>
</div>
